<!doctype html>
<html ng-app='silkRoad'>
  <head>
  <script src="lib/Angular/angular.min.js"></script>
  <script src="src/js/controller.js"></script>
  <link rel="stylesheet" href="lib/Bootstrap/bootstrap.css">
  <link rel="stylesheet" href="src/css/styling.css">
  </head>
  <body>
    <div ng-controller="silkRoadController">
      <div class="col-sm-12 align-center text-center m1t text-uppercase">
        <div class="col-sm-4 block">
          System: {{currentSystem}}
        </div>
        <div class="col-sm-4 block">
          Station: {{currentStation}}
        </div>
        <div class="col-sm-4 block">
          Buy: {{currentBuy}}
        </div>
      </div>
      <div class="align-center text-center m1t m1b text-uppercase">
        Stop: {{stopNo}}
      </div>
      <div class="col-sm-12">
        <div class="col-sm-4 col-sm-offset-4 align-center text-center">
          <button class="btn srbtn" ng-click="prevStop()">Prev</button>
          <button class="btn srbtn" ng-click="nextStop()">Next</button>
        </div>
        <div class="col-sm-4 col-sm-offset-8 block">
          {{nextSystem}}
        </div>
      </div>
    </div>
  </body>
</html>