<!doctype html>
<html ng-app='silkRoad'>
  <head>
  <script src="lib/Angular/angular.min.js"></script>
  <script src="src/js/controller.js"></script>
  <link rel="stylesheet" href="lib/Bootstrap/bootstrap.css">
  <link rel="stylesheet" href="src/css/styling.css">
  </head>
  <body>
    <div ng-controller="silkRoadController">
      <div class="col-sm-12 align-center text-center m2t">
        <div class="col-sm-4 block">
          SYSTEM: {{currentStop.system}}
        </div>
        <div class="col-sm-4 block">
          STATION: {{currentStop.station}}
        </div>
        <div class="col-sm-4 block">
          BUY: {{currentStop.buy}}
        </div>
      </div>
      <div class="align-center text-center m2t">
        STOP: {{stopNo}}
      </div>
      <div class="col-sm-12 m2t">
        <div class="col-sm-4 block text-center m1t">
          PREV: {{currentStop.prevStop.system}}
        </div>
        <div class="col-sm-4 align-center text-center">
          <button class="btn srbtn" ng-click="prevStop()">Prev</button>
          <button class="btn srbtn" ng-click="nextStop()">Next</button>
        </div>
        <div class="col-sm-4 block text-center m1t">
          NEXT: {{currentStop.nextStop.system}}
        </div>
      </div>
    </div>
  </body>
</html>