body {
  background-color: rgb(20,20,20);
  color: rgb(200,200,200);
  font-family: 'Oswald', sans-serif;
}

hr {
  border-color: rgb(255,104,0);
}

.block {
  border-color: rgb(255,104,0);
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  overflow: hidden;
}

.cutoff {
  overflow: hidden;
}

.srbtn {
  background-color: rgb(10,10,10);
  color: rgb(255,104,0);
  outline: 0;
  border-color: rgb(255,104,0);
  border-style: solid;
  border-width: 2px;
}
.srbtn:hover,
.srbtn:active {
  color: rgb(255,154,0);
  outline: 0;
} 
.srbtn:focus {
  color: rgb(255,154,0);
  outline: 0;
}

.info {
  background-color: rgb(30,30,30);
  color: rgb(255,154,0);
  font-size: 1.2em;
}

.m1t {
  margin-top: 10px;
}
.m2t {
  margin-top: 20px;
}
.m3t {
  margin-top: 30px;
}
.m4t {
  margin-top: 40px;
}
.m5t {
  margin-top: 50px;
}
.m1l {
  margin-left: 10px;
}
.m2l {
  margin-left: 20px;
}
.m3l {
  margin-left: 30px;
}
.m4l {
  margin-left: 40px;
}
.m5l {
  margin-left: 50px;
}
.m1b {
  margin-bottom: 10px;
}
.m2b {
  margin-bottom: 20px;
}
.m3b {
  margin-bottom: 30px;
}
.m4b {
  margin-bottom: 40px;
}
.m5b {
  margin-bottom: 50px;
}
.m1r {
  margin-right: 10px;
}
.m2r {
  margin-right: 20px;
}
.m3r {
  margin-right: 30px;
}
.m4r {
  margin-right: 40px;
}
.m5r {
  margin-right: 50px;
}